* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'sans-serif';
	margin: 0;
	padding: 0;
}

/* Header */

.header {
	height: 523px;
	width: 100%;
	background-image: url('images/waves.jpg');
	position: relative;
}

.overlay {
	background: rgba(17,117,192,0.8 );
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.header-container {
	height: 523px;
	width: 992px;
	position: relative;
	color: white;
	margin: 0 auto;
	padding-top: 2px;
}

.header-container a {
	text-decoration: none;
	color: #242F48;
}

.header-container h1 {
	font-family: 'PT Sans', sans-serif;
	letter-spacing: -0.03em;
	font-weight: 300;
	font-size: 6.6em;
	text-align: center;
	margin: 0 auto;
	margin-top: 130px;
	text-shadow: 1px 1px 3px #083452;
}

.subtitle {
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	text-align: center;
	margin: -22px;
	color: #083452;
}

.logo {
	position: relative;
	top: 10px;
}

.name {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 1.05em;
	display: inline-block;
	color: #083452;
	margin-left: 10px;
	margin-top: 20px;
	position: relative;
	top: -10px;
}

.header-container ul {
	margin: 0;
	display: inline-block;
	padding-left: 560px;
	position: relative;
	top: -10px;
}

.header-container li {
	list-style: none;
	display: inline-block;
	font-family: 'Oswald', 'sans-serif';
	font-weight: 400;
	font-size: 1.1em;
	margin: 0 auto;
	padding-right: 15px;
	color: #083452;
}

.header-container a:hover {
	color: white;
}

.search img {
	margin-left: -15px;
}

/* Body */

.main {
	height: 1007px;
	width: 1000px;
	margin: 0 auto;
}

/* Left Column */

.left {
	display: inline-block;
	width: 678px;
	height: 1007px;
}

.main h2 {
	display: inline-block;
	margin: 62px 0 0 0;
	padding: 0 0 0 40px;
	font-family: 'Oswald', 'sans-serif';
	font-weight: 400;
	font-size: 4em;
	line-height: 112%;
	color: #242F48;
}

.small-profile {
	background-image: url(images/round-pic-small.png);
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
	margin-left: 43px;
	top: 8px;
}

.contributor {
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	font-size: .8em;
	color: #106db3;
	display: inline-block;
	padding: 0 0 0 5px;
	margin-top: 10px;
}

.date {
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	font-size: .8em;
	color: #a3b3bf;
	display: inline-block;
	padding: 0 0 0 15px;
	margin-top: 10px;
}

.date a {
	color: #a3b3bf;
}

.date a:hover {
	color: #106db3;
}

.copy {
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	font-size: 1em;
	line-height: 165%;
	color: #5e686f;
	padding: 6px 40px 0 40px;
}

.copy a {
	color: #a3b3bf;
}

.copy a:hover {
	color: #106db3;
}

.copyspace {
	padding: 10px 0 0 0;
}

.divider {
	display: inline-block;
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	margin: 0 0 0 0;
	padding: 0 0 0 40px;
	font-size: 4em;
	color: #a3b3bf;
}

blockquote {
	display: inline-block;
	margin: 2px 0 2px 40px;
	padding: 10px 0 10px 20px;
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	font-size: 2em;
	color: #106db3;
	border-left: 2px solid #a3b3bf;
}

/* Right Column */

.right {
	display: inline-block;
	width: 318px;
	height: 1007px;
	float: right;
}

.author {
	height: 270px;
	display: inline-block;
}

.author img {
	margin: 84px 0 0 100px;
}

.contributor-right {
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	font-size: 1.1em;
	color: #106db3;
	margin: 0 auto;
	padding: 5px 0 0 92px;
}

.social-links {
	list-style: none;
	margin: 0 auto;
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	font-size: .8em;
	color: #a3b3bf;
	padding-left: 43px;
	position: relative;
}

.social-links li {
	display: inline-block;
	position: relative;
	top: 10px;
	padding-left: 10px;
}

.social-links a {
	text-decoration: none;
	color: #a3b3bf;
}

.social-links a:hover {
	color: #106db3;
}

.paddle-overlay {
	background: rgba(17,117,192,0.5 );
	position: absolute;
	width: 250px;
	height: 300px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 28px;
}

.paddle {
	padding-left: 28px;
	position: relative;
}

.side-copy a {
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	font-size: .9em;
	color: #a3b3bf;
	float: right;
	padding: 5px 40px 0 0;
}

.side-copy a:hover {
	color: #106db3;
}

.side-copy h5 {
	font-family: 'Oswald', 'sans-serif';
	font-weight: 400;
	font-size: 1.2em;
	padding: 60px 0 0 30px;
	margin: 0;
	color: #106db3;
}

.side-copy p {
	font-family: 'Asap', 'sans-serif';
	font-weight: 400;
	font-size: .9em;
	line-height: 170%;
	color: #a3b3bf;
	padding: 6px 40px 0 30px;
	margin: 0;
}

/* Bottom */

hr {
	border: 0;
	height: 1px;
	background-color: #a3b3bf;
	margin: 0;
}

.popular h2 {
	font-family: 'Oswald', 'sans-serif';
	font-weight: 400;
	font-size: 4em;
	color: #242F48;
	margin: 0 auto;
	text-align: center;
	clear: right;
	padding: 26px 0 26px 0;
}

.foot-imgs {
	height: 300px;
	width: 25%;
	background-color: #242F48;
	display: inline-block;
	float: left;
}

.foot-text {
	height: 300px;
	width: 25%;
	position: absolute;
	color: #242F48;
	margin: 0 auto;
	padding-top: 2px;
	display: inline-block;
}

.foot-text h4 {
	font-family: 'Oswald', 'sans-serif';
	font-weight: 400;
	font-size: 2em;
	color: #242F48;
	margin: 0;
	padding: 10px 15px 0 15px;
	opacity: 0.8;
	position: absolute;
	bottom: 20px;
}

.footer-container {
	height: 300px;
	width: 100%;
	position: relative;
}

.foot-overlay {
	background: rgba(17,117,192,0.7 );
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/*.foot-imgs a {
	height: 300px;
	width: 100%;
}

.foot-imgs a:hover {
	background: white;
}*/

.footer {
	height: 100px;
	width: 100%;
	background-color: #242F48;
	margin-bottom: 8px;
	clear: left;
}







































